@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Schoolbell&family=Tenor+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-image: linear-gradient(to bottom, #150afa, #6349ff, #8d74ff, #b19eff, #d2c7ff, #e6d3fe, #f5e0fd, #ffeeff, #ffddf5, #ffd1bc, #ffdf6a, #fbff01);
    background-color: whitesmoke;
    font-family: Tenor Sans, sans-serif;
    font-size: 1.25rem;
    min-height: 100vh;
    color: #1E1926;
}

/* home page */

.mn-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
    padding: 2.5%;
}

#logo-site {
    color: #150AFA;
    font-family: Chicle;
    font-weight: 400;
    font-size: 400%;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    animation-name: cresendo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* animation logo */

@keyframes cresendo {
    from {font-size: 200%;}
    to {font-size: 400%;}
}

main > p {
    text-align: justify;
    margin: 1rem;
    padding: 2rem;
    max-width: 40ch;
}

#start-btn {
    background-color: #FBFF01;
    border-style:solid;
    border-color: #150AFA;
    border-radius: 5%;     
    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.5em;
    margin: 1em;
}

#start-btn:hover {
    box-shadow: 0.1rem 0.1rem 1rem #150AFA;
}


/* quiz area */

.quiz-container {
    height: 50vh;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.5);       
    margin: 2em 10em;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    display: none;        
}

#question {      
    text-align: center;
    margin: 1% 5%;
    padding: 1%;
    min-height: 3%;
    color: inherit;
    font-family: Schoolbell, sans-serif;
    font-size: 1.50rem;
    background-color: deeppink;
}

.answers {
    display: block;
    margin: 1em;
    padding: 0.5em;
    font-size: inherit;
    font-family: Tenor sans, sans-serif;
    color: inherit;    
}

.hide {
    display: none;
}






/* footer */

.foot-container {
    width: 100vw;
    max-height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-top:1.5rem;
}

.text {
    margin:0.5rem;
}

.text > p {
    padding: 0.5rem;
}

.logos {
    display: flex;
    margin: 0.5rem;
}

.logos li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
}

.logos li a {
    color: inherit;
}

/* media queries */

@media screen and (min-width:490px) {
    #logo-site {
        font-size: 300%;
    }    
}

/* rotating small screen size */

@media screen and (max-width:896px) {
    #logo-site, main > p {
        margin: 0 0.5rem;
        padding: 0 0.5rem;
    }

    .mn-position {
        margin: 0 2.5%;
        padding: 0 2.5%;
    }

    #start-btn {
        margin: 0.25em;
        padding: 0.25em;
    }

    .foot-container {
        max-width: none;
    }    
   
}



    
   
    
