@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Schoolbell&family=Tenor+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-image: linear-gradient(to bottom, #150afa, #6349ff, #8d74ff, #b19eff, #d2c7ff, #e6d3fe, #f5e0fd, #ffeeff, #ffddf5, #ffd1bc, #ffdf6a, #fbff01);
    background-color: whitesmoke;
    font-family: Tenor Sans, sans-serif;
    font-size: 1.25rem;
    min-height: 100vh;
    color: #1E1926;
}

/* home page */

.mn-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5%;
    padding: 5% 0 5%;
}

h1 {
    color: #150AFA;
    font-family: Chicle;
    font-weight: 400;
    font-size: 400%;
    margin: 1rem;
    padding: 2rem;
    text-align: center
}

main > p {
    text-align: center;
    margin: rem;
    padding: 2rem;
}

main > button {
    background-color: #FBFF01;
    border-style:solid;
    border-color: #150AFA;  
    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1em;
    margin: 2em;
}

/* footer */

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}

.text {
    margin:0.5rem;
}

.text > p {
    padding: 0.5rem;
}

.logos {
    display: flex;
    margin: 0.5rem;
}

.logos li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
}

.logos li a {
    color: inherit;
}

/* media querie

@media screen and (max-width:490px) {
    main > p {
        padding-left: 4em;
        margin-left: 2em;
    }
    
}




    
   
    
